@mixin gradient-btn($color1, $color2) {
    position: relative;
    z-index: 1;
    
    &:after,
    &:before {
        transition: opacity 200ms ease-in-out;
        position: absolute;
        content: " ";
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }
    
    &:before {
        @include gradient-x($color1, $color2);
        z-index: -2;
    }
    
    &:after {
        @include gradient-x($color2, $color1);
        opacity: 0;
        z-index: -1;
    }

    &:hover {
        background: transparent;

        &:after {
            opacity: 1;
        }
    }
}

.btn {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 0;
    font-size: 13px;
    border: none;
}

.btn-primary {
    @include gradient-btn($blue-strong, $cyan-strong);
}

.btn-secondary {
    @include gradient-btn($green-light-lime, $green-soft);
}
