.hero {
    overflow: hidden;
    text-align: center;
    position: relative;
    max-height: 100vh;
    height: 770px;

    .hero-img {
        object-fit: cover;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        z-index: 0;
    }

    .hero-overlay {
    background: -webkit-linear-gradient(left, rgba(10, 41, 68, 0.95), rgba(0, 111, 158, 0.4));
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .container, .row {
        height: 100%;
    }

    .hero-title {
        background: -webkit-linear-gradient(left, $cyan-strong, $green-soft-lime);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 40px;

        @include media-breakpoint-down(md) {
            font-size: 35px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 26px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 24px;
        }
        
        span {
            font-family: $primary;
            font-weight: 700;
        }
    }

    .hero-text {
        color: $cyan-grayish;
        margin-bottom: 50px;
        font-size: 16px;

        @include media-breakpoint-down(md) {
            font-size: 14px;
        }
        
        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 14px;
        }
    }
}