.hero {
    overflow: hidden;
    text-align: center;
    position: relative;
    max-height: 100vh;
    padding: 350px 0;

    .hero-img {
        object-fit: cover;
        object-position: center;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        left: 0;
        top: 0;
    }

    .hero-overlay {
        @include gradient-y(rgba(#0a2944, 0.8), rgba(#006f9e, 0.8), 50%, 100%);
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .row,
    .container {
        height: 100%;
    }

    .hero-title {
        @include gradient-x($cyan-strong, $green-soft-lime);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 40px;

        @include media-breakpoint-down(md) {
            font-size: 35px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 26px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 24px;
        }
        
        span {
            font-family: $primary;
            font-weight: 700;
        }
    }

    .hero-text {
        color: $cyan-grayish;
        margin: 50px 0;
        font-size: 16px;

        @include media-breakpoint-down(md) {
            font-size: 14px;
        }
        
        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 14px;
        }
    }
}