.navbar {
    .navbar-nav {
        .nav-item {
            .nav-link {
                text-transform: uppercase;
                color: $cyan-grayish;
                font-size: 12px;

                &:hover {
                    color: $green-soft;
                }
            }
        }
    
        .active {
            .nav-link {
                color: $green-soft;
            }
        }
    }
}

.navbar-toggler {
    background-color: $white;
    border-radius: 0;
    border: none;
}