.navbar {
    background-color: rgba(#005b7f, 0);
    padding: 20px 1rem;

    .navbar-collapse {
        @include media-breakpoint-down(md) {
            border-radius: 5px;
            background-color: #005b7f;
            margin-top: 10px;
            padding: 0 20px;
        }
    }

    .navbar-nav {
        @include media-breakpoint-down(md) {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .nav-item {
            .nav-link {
                text-transform: uppercase;
                color: $cyan-grayish;
                font-size: 12px;
                letter-spacing: 2px;
                padding-left: 15px;
                padding-right: 15px;

                &:hover {
                    color: $green-soft;
                }
            }
        }
    
        .active {
            .nav-link {
                color: $green-soft;
            }
        }
    }
}

.navbar-toggler {
    border-radius: 0;
    color: $white !important;
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}
