.our-customers {
    text-align: center;
    padding: 100px 0;

    @include media-breakpoint-down(sm) {
        padding: 70px 0;
    }

    @include media-breakpoint-down(xs) {
        padding: 50px 0;
    }

    .oc-title {
        color: $blue-dark-grayish;
        text-transform: uppercase;
        font-size: 25px;

        span {
            font-weight: 700;
        }
    }

    .oc-items {
        margin-top: 60px;
        text-align: center;

        @include media-breakpoint-down(md) {
            margin-top: 40px;
        }

        @include media-breakpoint-down(sm) {
            margin-top: 20px;
        }

        img {
            margin: 40px 10px;
            height: auto;
            width: 150px;
            height: 90px;
            object-fit: contain;
        }
    }
}