.talk-to-us {
    background-blend-mode: multiply;
    padding: 70px 0 100px;
    text-align: center;
    height: auto;
    
    background: 
    url(../images/talk.jpg),
    $blue-dark-grayish ;
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-down(sm) {
        padding: 40px 0;
    }

    .container {
        max-width: 60%;

        @include media-breakpoint-down(lg) {
            max-width: 80%;
        }

        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }

    .ttu-title {
        text-transform: uppercase;
        margin-bottom: 60px;
        color: $cyan-pure;
        font-size: 35px;

        @include media-breakpoint-down(xs) {
            font-size: 22px;
        }

        span {
            font-weight: 700;
        }
    }

    .form-control {
        border-bottom: 1px solid $blue-mostly-dark;
        background-color: transparent;
        font-family: $primary;
        margin-bottom: 30px;
        border-radius: 0;
        font-size: 18px;
        border: none;

        &:focus {
            background-color: transparent;
            box-shadow: none;
            color: $white;
        }
    }

    .social {
        margin-top: 60px;

        a {
            display: inline-block;
            text-decoration: none;
            color: $cyan-light;
            
            p {
                transition: all 300ms ease-in-out;
                color: transparent;
                font-size: 10px;
            }

            &:hover {
                p {
                    color: $cyan-light;
                }
            }
        }

        i {
            display: block;
        }

        .social-text {
            text-transform: uppercase;
            color: $cyan-grayish;
            margin-bottom: 10px;
            font-size: 12px;
        }

        .fab {
            font-size: 25px;
            margin: 0 10px;
        }
    }
}