// Fonts
$primary: 'Encode Sans Expanded', sans-serif;

// Colors
$blue-dark:         #005b7f;
$blue-strong:       #0785b7;
$blue-light-dark:   #006f9e;
$blue-dark-grayish: #445668;
$blue-mostly-dark:  #576b7c;

$cyan-dark:         #5d98a6;
$cyan-pure:         #00ffff;
$cyan-light:        #8ac2c5;
$cyan-strong:       #00c1ca;
$cyan-grayish:      #a5c6ce;

$green-soft:        #84e97e;
$green-light:       #75ff6c;
$green-soft-lime:   #85e97e;
$green-light-lime:  #74ff6c;