// Fonts
$primary: 'Encode Sans Expanded', sans-serif;

// Colors
$blue-dark:         #005b7f;
$blue-strong:       #0785b7;
$blue-dark-grayish: #445668;
$cyan-dark:         #5d98a6;
$cyan-strong:       #00c1ca;
$cyan-grayish:      #a5c6ce;
$green-soft:        #84e97e;
$green-light:       #75ff6c;
$green-soft-lime:   #85e97e;
$green-light-lime:  #74ff6c;