extends templates/layout.pug

block content

    include components/hero.pug
    include components/what-we-do.pug
    include components/how-we-do.pug
    include components/our-customers.pug
    include components/our-cases.pug