footer.footer#footer
    .container
        .row
            .col-12.col-md-6.col-lg-4
                a(href="#")
                    img(src="images/logo-footer.png", alt="")
                .the-codevance A Codevance é uma software house, especlialzada em desenvolvimento de software, aplicativos, treinamentos e consultorias em tecologia.
            .col-12.col-md-6.col-lg-4
                ul
                    li
                        a(href="#what-we-do") O que fazemos
                    li
                        a(href="#how-we-do") Como fazemos
                    li
                        a(href="#our-costumers") Clientes
                    li
                        a(href="#our-cases") Cases
                    li
                        a(href="#talk-to-us") Contato
            .col-md-12.col-lg-4
                .email contato@codevance.com.br
                .tel (11) 0000-0000
    .copyright Codevance. Todos os direitos reservados. 2018. Site desenvolvido em parceria com 
        a(href="#") Influid
