//- reserva espaço do rodapé
#footer-gap

footer.footer#footer
    .container
        .row
            .col-sm-10.ml-auto.mr-auto
                .row
                    .col-12.col-md-6.col-lg-4
                        a(href="#")
                            img.brand(src="images/logo-footer.svg", alt="")
                        .the-codevance Otimize os resultados de sua empresa e 
                            | gere valor para seu negócio com uma empresa 
                            | especializada em qualidade, boas práticas e 
                            | agilidade!
                    .col-12.col-md-6.col-lg-4
                        ul
                            li
                                a(href="#what-we-do") O que fazemos
                            li
                                a(href="#how-we-do") Como fazemos
                            li
                                a(href="#our-customers") Clientes
                            li
                                a(href="#our-cases") Cases
                            li
                                a(href="#talk-to-us") Contato
                    .col-md-12.col-lg-4
                        .email contato@codevance.com.br
                        .tel +55 (11) 96692-2645
    .copyright Codevance. Todos os direitos reservados. 2018. Site desenvolvido 
        | em parceria com 
        a(href="#") Influid
