.hero#hero
    img.hero-img(src="images/hero.jpg", alt="")
    .hero-overlay
        .container
            .row.align-items-center
                .col-12
                    h1.hero-title Seu parceiro tecnológico 
                        span ideal!
                    .hero-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais
                    a.btn.btn-primary(href="#") Saiba mais
