.hero#hero
    img.hero-img(src="images/hero.jpg", alt="")
    .hero-overlay
        .container
            .row.align-items-center
                .col-12
                    h1.hero-title Seu parceiro tecnol처gico 
                        span ideal!
                    .hero-text
                        | N처s somos uma software house que tem como miss찾o 
                        | otimizar os resultados e gerar valor ao seu neg처cio
                        | utilizando tecnologia como meio!
                    a.btn.btn-primary(href="#what-we-do") Saiba mais
