.hero#hero
    img.hero-img(src="images/hero.jpg", alt="")
    .hero-overlay
        .container
            .row.align-items-center
                .col-12
                    h1.hero-title Seu parceiro tecnológico 
                        span ideal!
                    .hero-text
                        | Otimize os resultados de sua empresa e gere valor para seu negócio com uma empresa 
                        br
                        .
                            especializada em qualidade, boas práticas e agilidade!
                    a.btn.btn-primary(href="#what-we-do") Saiba mais
