.how-we-do#how-we-do
    .container
        .hwd-header
            .hwd-title Como 
                span fazemos
            .hwd-text.mt-3 Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços:
        .hwd-card
            .row.card-deck
                .card.col-12.col-md-6.block(style="background-color: #0785b7;")
                    .card-body
                        .card-icon
                            i.ti-reload
                        h5.card-title Qualidade no processo de <br/>
                            span desenvolvimento
                        p.card-text
                            | A Codevance trabalha sempre com foco em qualidade e agilidade. Gerenciamos seu projeto utilizando metodologias ágeis como Scrum e Kanban, trazendo velocidade e direção a entrega do seu projeto. 
                        p.card-text
                            | A cada novo ciclo de desenvolvimento de nossa equipe você terá uma nova versão de seu software pronta para ser utilizada de forma real. O nosso planejamento é sempre focado na 
                            strong geração de valor 
                            | para seu negócio. Nosso papel é entender suas necessidades para que conseguir entregar, o mais rápido possível, um produto que seja capaz de gerar resultados reais para seu negócio. Mesmo que o projeto ainda não tenha se encerrado, você já terá condições de usufruir de várias funcionalidades do software que está sendo construído.
                .card.col-12.col-md-6.block(style="background-color: #005b7f;")
                    .card-body
                        .card-icon
                            i.ti-check-box
                        h5.card-title Qualidade na <br/>
                            span entrega
                        p.card-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                        p.card-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. 
    img.overlay(src="images/background.png", alt="")