.how-we-do#how-we-do
    .container
        .hwd-header
            .hwd-title Como 
                span fazemos
            .hwd-text.mt-3 Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços:
        .hwd-card
            .row
                .col-12.col-md-6.block
                    .card(style="background-color: #0785b7;")
                        .card-body
                            .card-icon
                                i.ti-reload
                            h5.card-title Qualidade no processo de <br/>
                                span desenvolvimento
                            p.card-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.card-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. 
                .col-12.col-md-6.block
                    .card(style="background-color: #005b7f;")
                        .card-body
                            .card-icon
                                i.ti-check-box
                            h5.card-title Qualidade na <br/>
                                span entrega
                            p.card-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.card-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. 
