.our-cases
    .container
        .cases-subtitle A Codevance
        h2.cases-title Nossos 
            span Casos
        .cases-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços:
        .cases-content
            .row
                .col-6
                    .cases-img
                        img(src="images/cases.jpg", alt="")
                .col-6
                    .cc-header Cliente:
                        span Brastemp
                    .cc-header Projeto:
                        span desenvolvimento de aplicativo
                    p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                    p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                    .owl-carousel.owl-theme
                        .item
                            h4 1
                        .item
                            h4 2
                        .item
                            h4 3
                        .item
                            h4 4
                        .item
                            h4 5
                        .item
                            h4 6
                        .item
                            h4 7
                        .item
                            h4 8
                        .item
                            h4 9
                        .item
                            h4 10
                        .item
                            h4 11
                        .item
                            h4 12
                    a(href="#")
                        i.ti-angle-left
                    a(href="#")
                        i.ti-angle-right