.our-cases#our-cases
    .container
        .cases-header
            .cases-subtitle A Codevance
            h2.cases-title Nossos 
                span Cases
            .cases-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços:
        .cases-content
            .row
                .col-12.col-md-6.block
                    .owl-carousel.owl-theme.carousel-image
                        .item
                            img(src="images/case-allmed.png", alt="")
                        .item
                            img(src="images/case-humanize.png", alt="")
                        .item
                            img(src="images/case-bvs-indigena.png", alt="")
                .col-12.col-md-6.block
                    .owl-carousel.owl-theme.carousel-info
                        .item
                            .cc-header Cliente:
                                span Allmed Medicina Ocupacional
                            .cc-header Projeto:
                                span Portal de resultados de exames
                            p.cc-text
                                | Diante do grande volume de laudos emitidos
                                | diariamente, a Allmed se viu com uma operação
                                | grande e custosa para poder dar vazão a todos
                                | os pedidos. Então procuraram a Codevance. 
                            p.cc-text
                                | Nós ajudamos a mapear o problema e desenvolver
                                | um sistema web para que os clientes pudessem
                                | ter acesso aos laudos de seus colaboradoes. 
                                | O sistema é totalmente integrado com os 
                                | softwares utilizado pela empresa e desonerou
                                | profundamente a operação!
                        .item
                            .cc-header Cliente:
                                span Humanize Diagnósticos
                            .cc-header Projeto:
                                span Portal de resultados de exames
                            p.cc-text
                                | Pensando em facilitar a vida de seus 
                                | pacientes, a Humanize Diagnósticos procurou
                                | a Codevance com o intuito de criar um
                                | portal onde os pacientes pudessem conferir
                                | o seus exames de qualquer lugar,
                                | com comodidade, conforto e segurança.
                            p.cc-text
                                | O resultado foi simplesmente incrível! Um
                                | portal intuitivo onde o paciente tem
                                | acesso ao seu exame no momento em que ele é
                                | liberado. O sistema é todo integrado com o 
                                | software utilizado pelos colaboradores da 
                                | Humanize e os colaboradores não têm nenhum
                                | trabalho para publicar os laudos. Tudo é feito
                                | de forma automática e instantânea!
                        .item
                            .cc-header Cliente:
                                span ICICT - Fiocruz
                            .cc-header Projeto:
                                span BVS Indígena
                            p.cc-text
                                | A Codevance está sendo a responsável por criar
                                | o portal da Biblioteca Virtual em Saúde 
                                | Indígena. 
                            p.cc-text
                                | Trata-se de um moderno portal que reune 
                                | diversas informações sobre o tema, além de 
                                | contar com integração com o maior portal de 
                                | busca em literatura médica científica, o 
                                | Portal Regional da BVS.
                        