.our-customers#our-costumers
    .container
        h2.oc-title Nossos 
            span clientes
        .oc-items
            .row.align-items-center
                .col-6.col-sm-3.col-xl-2
                    img(src="images/donato.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/lilori.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/strix.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/cm&g.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/confiança.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/di-nuovo.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/sabbagh.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/justmarried.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/500.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/timey.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/brasfast.png", alt="")
                .col-6.col-sm-3.col-xl-2
                    img(src="images/braspix.png", alt="")