.our-cases#our-cases
    .container
        .cases-subtitle A Codevance
        h2.cases-title Nossos 
            span Casos
        .cases-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços:
        .cases-content
            .row
                .col-12.col-md-6
                    .owl-carousel.owl-theme.carousel-image
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                        .item
                            img(src="images/cases.jpg", alt="")
                .col-12.col-md-6
                    .owl-carousel.owl-theme.carousel-info
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                        .item
                            .cc-header Cliente:
                                span Brastemp
                            .cc-header Projeto:
                                span desenvolvimento de aplicativo
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                            p.cc-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
