.our-customers#our-customers
    .container
        h2.oc-title Nossos 
            span clientes
        .oc-items
            img(src="images/customers/bireme.jpg", alt="")
            img(src="images/customers/humanize.jpg", alt="")
            img(src="images/customers/salomao-zopp.jpg", alt="")
            img(src="images/customers/unitha.jpg", alt="")
            img(src="images/customers/allmed.png", alt="")
            img(src="images/customers/aryzta.png", alt="")
            img(src="images/customers/confere.png", alt="")
            img(src="images/customers/drafteam.png", alt="")
            img(src="images/customers/fernando-e-sorocaba.png", alt="")
            img(src="images/customers/fiocruz.png", alt="")
            img(src="images/customers/funbox.png", alt="")
            img(src="images/customers/kitado.png", alt="")
            img(src="images/customers/pague-menos-leve-mais.png", alt="")
            img(src="images/customers/tikal-tech.png", alt="")
            img(src="images/customers/tour-house.png", alt="")
            img(src="images/customers/vila.png", alt="")
