.talk-to-us#talk-to-us
    .container
        h2.ttu-title Fale 
            span com a gente
        .form
            input.form-control(type="text" placeholder="Nome")
            input.form-control(type="email" placeholder="e-mail")
            textarea.form-control(rows="9" placeholder="Mensagem")
            button.btn.btn-primary.btn-block(type="button") Enviar
        .social
            .social-text Siga a Codevance nas redes sociais
            a(href="#")
                i.fab.fa-facebook-f
                p facebook
            a(href="#")
                i.fab.fa-twitter
                p twitter
            a(href="#")
                i.fab.fa-instagram
                p instagram
            a(href="#")
                i.fab.fa-linkedin-in
                p linked-in
