.talk-to-us#talk-to-us
    .container
        .row
            .col-sm-10.ml-auto.mr-auto
                h2.ttu-title Fale 
                    span com a gente
                form.form(action="https://formspree.io/moacir.moda@codevance.com.br" method="POST")
                    input(type="hidden" name="_language" value="pt-BR")
                    input(type="hidden" name="_subject" value="Novo contato pelo site!")
                    input.form-control(type="text" name="nome" placeholder="Nome" required)
                    input.form-control(type="email" name="_replyto" placeholder="E-mail" required)
                    input.form-control(type="text" name="telefone" placeholder="Telefone para contato" required)
                    textarea.form-control(rows="7" name="mensagem" placeholder="Mensagem" required)
                    button.btn.btn-primary.btn-block(type="submit") Enviar
                .social
                    .social-text Siga a Codevance nas redes sociais
                    a(href="https://telegram.me/moacirmoda" target="_blank")
                        i.fab.fa-telegram
                        span telegram
                    a(href="http://api.whatsapp.com/send?phone=5511966922645" target="_blank")
                        i.fab.fa-whatsapp
                        span whatsapp
                    a(href="https://twitter.com/moacirmoda" target="_blank")
                        i.fab.fa-twitter
                        span twitter
                    a(href="https://github.com/codevance" target="_blank")
                        i.fab.fa-github
                        span github
                    a(href="https://www.linkedin.com/in/moacir-moda-neto-10286b2a/" 
                        target="_blank")
                            i.fab.fa-linkedin-in
                            span linked-in
