.talk-to-us#talk-to-us
    .container
        .row
            .col-sm-10.ml-auto.mr-auto
                h2.ttu-title Fale 
                    span com a gente
                .form
                    input.form-control(type="text" placeholder="Nome")
                    input.form-control(type="email" placeholder="e-mail")
                    textarea.form-control(rows="5" placeholder="Mensagem")
                    button.btn.btn-primary.btn-block(type="button") Enviar
                .social
                    .social-text Siga a Codevance nas redes sociais
                    a(href="#")
                        i.fab.fa-facebook-f
                        span facebook
                    a(href="#")
                        i.fab.fa-twitter
                        span twitter
                    a(href="#")
                        i.fab.fa-instagram
                        span instagram
                    a(href="#")
                        i.fab.fa-linkedin-in
                        span linked-in
