.talk-to-us#talk-to-us
    .container
        .row
            .col-sm-10.ml-auto.mr-auto
                h2.ttu-title Fale 
                    span com a gente
                .form
                    input.form-control(type="text" placeholder="Nome")
                    input.form-control(type="email" placeholder="e-mail")
                    textarea.form-control(rows="5" placeholder="Mensagem")
                    button.btn.btn-primary.btn-block(type="button") Enviar
                .social
                    .social-text Siga a Codevance nas redes sociais
                    a(href="https://telegram.me/moacirmoda" target="_blank")
                        i.fab.fa-telegram
                        span telegram
                    a(href="http://api.whatsapp.com/send?phone=5511966922645" target="_blank")
                        i.fab.fa-whatsapp
                        span whatsapp
                    a(href="https://twitter.com/moacirmoda" target="_blank")
                        i.fab.fa-twitter
                        span twitter
                    a(href="https://github.com/codevance" target="_blank")
                        i.fab.fa-github
                        span github
                    a(href="https://www.linkedin.com/in/moacir-moda-neto-10286b2a/" 
                        target="_blank")
                            i.fab.fa-linkedin-in
                            span linked-in
