.testimonials
    .container
        .testimonials-content
            .quote-open
                img(src="images/open.png", alt="")
            h2.testimonials-title Depoimentos
            p.testimonials-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
            p.testimonials-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
            .quote-close
                img(src="images/close.png", alt="")
            p.credits.mt-5.pt-5 Cliente: 
                span Brastemp
            p.credits Projeto: 
                span desenvolvimento de aplicativo