.testimonials#testimonials
    .container
        .testimonials-content
            .quote-open
                img(src="images/open.png", alt="")
            h2.testimonials-title Depoimentos
            p.testimonials-text A Codevance tornou o complicado, simples. 
            p.testimonials-text Aqui na Confere temos diversos dados sendo 
                | processados em tempo real e precisávamos de um jeito para 
                | escalar e a Codevance trouxe um projeto inovador e assíncrono
                | com tecnologias de ponta, usando a AWS e Lambda.
            p.testimonials-text Apreciamos a atenção aos detalhes e a maneira 
                | criativa de abordagem ao problema, transformando o projeto em 
                | algo de fácil manutenção e escalabilidade. A estrutura ficou
                | clara, lógica e eficaz, colocaram muito experiência e 
                | astúcia em projetá-lo.
            p.testimonials-text Se você preza por um projeto bem detalhado, 
                | robusto e com o que há de mais novo em termos de serviços em 
                | nuvem e tratamento de dados, definitivamente a Codevance é a 
                | sua Software House.
            .quote-close
                img(src="images/close.png", alt="")
            p.credits.mt-5.pt-5 Cliente: 
                span Guilherme Esteves - Líder técnico da Confere
            p.credits Projeto: 
                span Modernização do fluxo de dados da empresa