section.wwd-section#what-we-do
    .what-we-do
        .container
            .wwd-header A Codevance
                h2.wwd-title O que 
                    span fazemos
                .wwd-text Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços:
            .wwd-content
                .row.align-items-center.main-row
                    .col-12.col-md-6.block.order-1.order-md-1
                        .wwd-info.mt-4
                            .row
                                .col-2
                                    i.ti-tablet.icon-green
                                .col-10
                                    h3.content-title.mb-4 Desenvolvimento de 
                                        span aplicativos
                                    p Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                                    p Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                                    a.btn.btn-secondary.mt-4.mb-4(href="#") Saiba mais
                    .col-12.col-md-6.block.order-2.order-md-2
                        .row
                            .col-12.col-xl-10.offset-xl-2
                                img(src="images/desenvolvimento1.jpg", alt="")
                .row.main-row.align-items-center
                    .col-12.col-md-6.block.order-2.order-md-1
                        .row
                            .col-12.col-xl-10.offset-xl-2
                                img(src="images/desenvolvimento2.jpg", alt="")
                    .col-12.col-md-6.block.order-1.order-md-2
                        .wdd-info.mt-4
                            .row
                                .col-2
                                    i.ti-tablet.icon-green
                                .col-10
                                    h3.content-title.mb-4 Desenvolvimento de 
                                        span aplicativos
                                    p Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                                    p Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                                    a.btn.btn-secondary.mt-4.mb-4(href="#") Saiba mais
    .container
        .wwd-content.mt-4.pb-4
            .row.align-items-center.main-row
                .col-12.col-md-6.block.order-1.order-md-1
                    .wwd-info.mt-4
                        .row
                            .col-2
                                i.ti-blackboard.icon-blue
                            .col-10
                                h3.content-title.mb-4 Consultorias
                                p Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                                p Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                                a.btn.btn-primary.mt-4.mb-4(href="#") Saiba mais
                .col-12.col-md-6.block.order-2.order-md-2
                    .row
                        .col-12.col-xl-10.offset-xl-2
                            img(src="images/consultorias.jpg", alt="")
            .row.align-items-center.main-row
                .col-12.col-md-6.block.order-2.order-md-1
                    .row
                        .col-12.col-xl-10.offset-xl-2
                            img(src="images/treinamento.jpg", alt="")
                .col-12.col-md-6.block.order-1.order-md-2
                    .wdd-info.mt-4
                        .row
                            .col-2
                                i.ti-tablet.icon-blue
                            .col-10
                                h3.content-title.mb-4 Treinamentos em 
                                    span tecnologia
                                p Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais. Confira nossos serviços. 
                                p Desenvolvemos diversos tipos de soluções em softwares, aplicativos, portais e muito mais.
                                a.btn.btn-primary.mt-4.mb-4(href="#") Saiba mais
