section.wwd-section#what-we-do
    .what-we-do
        .container
            .wwd-header A Codevance
                h2.wwd-title O que 
                    span fazemos
                .wwd-text
                    | Somos especializados em qualidade, boas práticas e agilidade!
                    br
                    .
                        Confira nossos serviços:
            .wwd-content
                .row.align-items-center.main-row
                    .col-12.col-md-6.block.order-1.order-md-1
                        .wwd-info.mt-4
                            .row
                                .col-2
                                    i.ti-tablet.icon-green
                                .col-10
                                    h3.content-title.mb-4 Desenvolvimento de 
                                        span software
                                    p Conte conosco para tirar sua ideia do papel. A Codevance possui um time com especialistas em todas as etapas para a execução de um projeto. Nós iremos te ajudar no planejamento, utilizando modernas metodologias para gestão de projetos ágeis. Para a execução, somos especialistas em tecnologias de ponta que garantem qualidade, robustez e agilidade. O objetivo da Codevance é gerar valor utilizando tecnologia como meio, sempre focando na priorização de funcionalidades e objetivos chave para o sucesso do seu negócio.
                                    a.btn.btn-secondary.mt-4.mb-4(href="#talk-to-us") Saiba mais
                    .col-12.col-md-6.block.order-2.order-md-2
                        .row
                            .col-12.col-xl-10.offset-xl-2
                                img(src="images/desenvolvimento1.jpg", alt="")
                .row.main-row.align-items-center
                    .col-12.col-md-6.block.order-2.order-md-1
                        .row
                            .col-12.col-xl-10.offset-xl-2
                                img(src="images/desenvolvimento2.jpg", alt="")
                    .col-12.col-md-6.block.order-1.order-md-2
                        .wdd-info.mt-4
                            .row
                                .col-2
                                    i.ti-tablet.icon-green
                                .col-10
                                    h3.content-title.mb-4 Desenvolvimento de 
                                        span aplicativos
                                    p Seu negócio precisa ter presença em todas as plataformas? Nós te ajudamos! Nossa equipe domina todo o processo de desenvolvimento de aplicativos nativos para as plataformas mais utilizadas do mercado. O processo de desenvolvimento possui a qualidade já associada a nossa marca. Com a Codevance, em pouco tempo você terá em mãos um aplicativo capaz de resolver seu problema e gerar valor para seu negócio!
                                    a.btn.btn-secondary.mt-4.mb-4(href="#talk-to-us") Saiba mais
    .container
        .wwd-content
            .row.align-items-center.main-row
                .col-12.col-md-6.block.order-1.order-md-1
                    .wwd-info.mt-4
                        .row
                            .col-2
                                i.ti-blackboard.icon-blue
                            .col-10
                                h3.content-title.mb-4 Consultorias
                                p Os líderes técnicos da Codevance possuem mais de 10 anos de experiência em desenvolvimento de software orientado a resultados no negócio. Nossos especialistas são capazes de mergulhar fundo nos processos tecnológicos de sua empresa e encontrar pontos de melhoria, trazendo mais agilidade ao seu ciclo de entrega de software, 
                                    strong resultando em mais dinheiro no seu bolso, 
                                    | seja no aumento da receita ou no corte de despesas.
                                a.btn.btn-primary.mt-4.mb-4(href="#talk-to-us") Saiba mais
                .col-12.col-md-6.block.order-2.order-md-2
                    .row
                        .col-12.col-xl-10.offset-xl-2
                            img(src="images/consultorias.jpg", alt="")
            .row.align-items-center.main-row
                .col-12.col-md-6.block.order-2.order-md-1
                    .row
                        .col-12.col-xl-10.offset-xl-2
                            img(src="images/treinamento.jpg", alt="")
                .col-12.col-md-6.block.order-1.order-md-2
                    .wdd-info.mt-4
                        .row
                            .col-2
                                i.ti-tablet.icon-blue
                            .col-10
                                h3.content-title.mb-4 Treinamentos e 
                                    span capacitações
                                p Nossos líderes técnicos são altamente capacitados em tecnologias sólidas e altamente utilizadas, como a linguagem de programação Python e o framework para desenvolvimento web Django, além de domínio de muitos serviços da plataforma de computação em nuvem líder de mercado, a Amazon Web Services. Além disso, dominam com maestria todo o ciclo de entrega de software, passando por conceitos modernos de entrega de software, além de gestão de projetos ágeis. Caso sua equipe esteja necessitando de uma capacitação de qualidade em um tempo hábil, nós podemos te ajudar!
                                a.btn.btn-primary.mt-4.mb-4(href="#talk-to-us") Saiba mais
