doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title Codevance

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,500,700")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous")

    link(href="css/main.css", rel="stylesheet")
  body

    include ../components/navbar.pug

    block content

    script(src="js/app.min.js")
