doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title Codevance

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,500,700")

    link(href="css/main.css", rel="stylesheet")
  body

    include ../components/navbar.pug
    include ../components/hero.pug
    include ../components/what-we-do.pug
    include ../components/how-we-do.pug
    include ../components/our-customers.pug

    block content

    script(src="js/app.min.js")
